[2020-01-16 12:42] kevinmainairungu opened #19 "ICONS O WINDOWS STORE"
Change icons on the assets folder. Resize all images to correct sizes

[2020-07-03 13:48] mutterback opened #30 "Review set up for eKItabu Desktop project"
Kevin - please take a look at the settings in this project. I added some automation. Let's also review the columns and use as a template for other projects once we agree.

[2020-07-03 14:16] kevinmainairungu commented on #30
@mutterback this noted. Let me take a look.

[2020-07-03 17:51] mutterback opened #31 "PR in Thorium Github for Kiswahili"
Kevin, when you're done with the Kiswahili UI for eKitabu Desktop, please create a PR in the Throrium Github to contribute our work.

[2020-07-03 20:40] mutterback opened #32 "Add fixed free books OPDS feed"

[2020-07-03 21:16] mutterback opened #33 "Add user login to Desktop"
Coordinate with Kevin for login using Azure Active Directory B2C. Also integrate into UI in a simple way for testing.

[2020-07-03 21:19] mutterback opened #34 "Add user specific OPDS book shelves to Desktop"

[2020-07-03 21:19] mutterback commented on #32
@fabricekwizera to provide details for OPDS URL format for user specific OPDS feeds generated by DITA gateway.

This issue depends on #33

[2020-07-03 23:06] mutterback opened #35 "Make initial UI Cleanups"
[eKitabu Brand & Standards Guide - 2020.zip](https://github.com/ekitabu-LLC/ekitabu-readium-desktop-working/files/4871811/eKitabu.Brand.Standards.Guide.-.2020.zip)
[eKitabu Extended Color palette.pdf](https://github.com/ekitabu-LLC/ekitabu-readium-desktop-working/files/4871812/eKitabu.Extended.Color.palette.pdf)

1. Basic eKitabu branding - see logos, extended color palette
2. Navigation between b

[2020-07-04 07:17] kevinmainairungu commented on #31
@mutterback this is noted.

[2020-07-07 22:13] brettins opened #38 "analytics use hash instead of publication ID"

[2020-07-07 22:14] brettins commented on #38
Waiting on @mocyeg to update the production server with the new migrations and code before I can close this out.

[2020-07-07 22:16] brettins commented on #33
@kevinmainairungu is there an API for Azure Active Directory? Is there an admin panel where I can get details?

[2020-07-07 22:29] mocyeg commented on #38
ah sorry for the late response. I realized after we spoke that the migrations run automatically on every deployment so it should already be in production.

[2020-07-07 23:22] brettins commented on #38
Hey @mocyeg - the database shows no new migrations run in the migration_versions table, and the tables don't have the new hash item. Looks like the migrations didn't run for some reason.

[2020-07-08 08:39] kevinmainairungu commented on #33
@brettins please use [https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-spa-app-configuration?tabs=javascript](url) for the documentation. The API is Microsoft graph API and I used the  single page application code sample to just to check how the API calls work. [https://github.com/Azure-Samples/active-directory-b2c-javascript-msal-singlepageapp](url)

[2020-07-08 09:12] mocyeg commented on #38
Heyo @brettins - looks like the migrations weren't running because [that build never actually succeeded](https://github.com/ekitabu-LLC/ereader-analytics-api/runs/832045601?check_suite_focus=true). I googled a bit and I think there was some old config in there, so I updated it (as per [this guide](https://github.com/doctrine/DoctrineMigrationsBundle/blob/master/UPGRADE.md)).

it seems to be workin

[2020-07-08 19:06] brettins commented on #32
Why does this issue depend on the #33 ? Does the free feed require a user log in?

Also, @fabricekwizera  eta on the details?

[2020-07-08 19:09] brettins commented on #33
@kevinmainairungu  what azure account are we using for this? Do I have a login to access it?

I'll need that info to go ahead with this portion:
https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app

[2020-07-08 19:31] mutterback commented on #33
Hi Brett,

Kevin may be asleep, but let me try to invite you as an owner to the app.

On Wed, Jul 8, 2020 at 3:10 PM Brett Ludwig <notifications@github.com>
wrote:

[2020-07-08 19:33] mutterback commented on #33
Just added you as an owner, try this link:

https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/Overview/appId/aaffeb93-2459-432a-bfe3-f82fb5a50352/isMSAApp/

On Wed, Jul 8, 2020 at 3:31 PM Matthew Utterback <matt@ekitabu.com> wrote:

[2020-07-08 21:04] mutterback opened #39 "Change size of EPUB Footnote element in Readium Streamer"
Hi Brett - this is a timely issue to look into. We're trying to use the HTML5 asisde, EPUB type:footnote element as a way to add videos of Kenyan Sign Language signs linked to vocabulary words. (See attached EPUB, page

Here's a chat on Slack where Daniel Weck points to the code. We can set the video size to fit a reasonably sized footnote window.

Look at Erik Christopher and my dialog with Danie

[2020-07-08 23:40] brettins commented on #39
I'm not sure what element you're talking about. Can you provide a screenshot of where it is in the app?

[2020-07-08 23:43] brettins commented on #39
I don't see an epub attached as mentioned.

[2020-07-09 00:13] brettins commented on #33
Is there a Microsoft rep I can talk to about this? Their electron stuff is proof of concept and I'm not sure I understand the flows they show on their tutorials. I can probably bash my way through but if an MS rep can point me in the right direction it'll save a lot of time.

[2020-07-09 07:31] kevinmainairungu commented on #33
Hi Brett,

I tried to use the single page authentication sample app. My assumption was
was to install the node package for MSAL. Then have two buttons for test on
the UI for login and logout. I did this for the cloud reader. I have
created a new Azure Tenant to be handling authentication.
https://portal.azure.com/#blade/Microsoft_AAD_B2CAdmin/TenantManagementMenuBlade/overview
I
have added you as

[2020-07-09 21:31] mutterback commented on #39
Hi - Daniel Wech is advising us to stick with pop ups. Let's move this to road map and consider it latter. I'm assigning back to me.

[2020-07-10 02:14] fabricekwizera commented on #32
@brettins follow the link to DITA OPDS and see if you have all you need  https://d2g.dita.digital/opds/collections/10045

[2020-07-10 11:04] mutterback commented on #34
Correcting these issues this issue depends on #33 as we first need to have a known user ID logged in before adding a user specific bookshelf.

@fabricekwizera please give us the DITA gateway formulation for a user specific OPDS bookshelf (Collection in the DITA gateway terminology)

[2020-07-10 11:06] mutterback commented on #32
Hi Brett,

I added the wrong issue #34
https://github.com/ekitabu-LLC/ekitabu-readium-desktop-working/issues/34
depends
on #33 as we need a user before we can add a user specific bookshelf.
Best,
- Matt

On Thu, Jul 9, 2020 at 10:14 PM Fabrice Kwizera <notifications@github.com>
wrote:

[2020-07-15 17:51] brettins commented on #32
@mutterback what is the name / title of the feed to display?

[2020-07-15 21:21] mutterback commented on #32
Thanks Brett,

The open feed for all users is "Cloud Library"

The user specific feed is "My Books"

Best,
- Matt

On Wed, Jul 15, 2020 at 1:52 PM Brett Ludwig <notifications@github.com>
wrote:

[2020-07-16 00:05] brettins commented on #33
Are we looking to add a login button for this? Or just try to authenticate them whenever they open the app?

[2020-07-16 02:32] mutterback commented on #33
Login button. LMK if we should take a look at the UI issue first together.

On Wed, Jul 15, 2020 at 8:05 PM Brett Ludwig <notifications@github.com>
wrote:

[2020-09-02 11:48] mutterback commented on #39
CLosing per Daniel Weck's advice not to try to use footnotes for this purpose

[2020-09-02 11:48] #39 closed

[2020-10-26 18:47] brettins opened #45 "Get analytics working again"
Analytics on leveldown have stopped working in recent builds

[2020-10-27 17:48] brettins commented on #32
I'm getting a 404 error on the OPDS URL here. Has the intended URL changed @mutterback  @aferditamuriqi ?

[2020-10-27 17:49] brettins commented on #33
This is waiting on a FusionAuth setup from Mike & the repository

[2020-10-27 17:50] brettins commented on #35
@mutterback is this still relevant or are we waiting for a UX pass on this?

[2020-11-11 14:13] mutterback opened #47 ""Ekitabu" app name in upper left has capital E"
Hi Kevin, I believe this was very hard to fix from our discussions. But, let's try to fix it to eKitabu. If it's too hard, please log the reasons here so we can address in the future.

<img width="915" alt="Ekitabu app label bug" src="https://user-images.githubusercontent.com/18404465/98821895-20917100-23fe-11eb-8296-6d109af2efe3.png">

[2020-11-12 16:44] kevinmainairungu commented on #47
@mutterback I'm working on the Fix. I was able to identify where this functionality is. Working on this.

[2020-11-18 11:07] kevinmainairungu commented on #47
@mutterback pushing this to Done. I've added a screenshot of the solution. This will be in our next build. I've already created a package for tomorrow. Our weekly build will be on Friday.
![Screenshot (42)](https://user-images.githubusercontent.com/23236275/99522875-4f33bc80-29a7-11eb-814e-16a5e83b339e.png)

[2020-11-18 14:07] mutterback commented on #47
Thank you! closing

[2020-11-18 17:57] brettins commented on #47
Hey everyone, seeing that this is closed, I wanted to confirm that it's gone through a code review and a QA review as I haven't seen any discussion around those two. Generally, an issue is marked closed after that process and after the change makes its way into the production environment.

[2020-11-18 18:15] kevinmainairungu commented on #47
Hey Brett,

You are right! We should be getting comfortable with the release pipeline
and go through a code review. I'm reopening the issue again for this.

On Wed, Nov 18, 2020 at 8:58 PM Brett Ludwig <notifications@github.com>
wrote:

[2020-12-01 06:48] kevinmainairungu commented on #38
@mutterback @mocyeg I sent out the script to extract the publication ID a while back. Were you able to extract it @mocyeg ?

[2020-12-01 07:09] kevinmainairungu opened #49 "Analytics Data Sync"
The workflow required for a device to register itself.

[2020-12-01 12:49] kevinmainairungu opened #50 "Analytics Data Sync"
Hi @brettins, We recently visited Kambui and Agha khan Primary, both of them have the DLP2 devices ad the Desktop app installed.
<img width="1440" alt="Screen Shot 2020-11-24 at 6 22 52 PM" src="https://user-images.githubusercontent.com/23236275/100742344-af851e00-33eb-11eb-8c58-6628ab664535.png">
<img width="1440" alt="Screen Shot 2020-11-24 at 6 02 20 PM" src="https://user-images.githubuserconte

[2020-12-01 13:50] mutterback commented on #50
Hi @kevinmainairungu is this a question or just an FYI to @brettins ?

This seems to be 2 issues. I suggest you split it into 1 or 2 new issues. I'm not quite sure if the 2nd one is a bug or just an observation:

1. Registration failure. Any more details on these devices or sense of why this happened? This seems to be either a bug or a gap in our process, whereby if a device doesn't synch on first

[2020-12-01 20:17] kevinmainairungu opened #51 "Windows Analytics Database Connect"
Hi @mocyeg We are epxerience an issue in trying to access the analtycs database. See screenshot attached below. We also can't access the same instance on Azure.
<img width="1440" alt="Screen Shot 2020-12-01 at 11 15 14 PM" src="https://user-images.githubusercontent.com/23236275/100792072-27bf0400-342b-11eb-974f-22f5414f0802.png">

[2020-12-02 09:28] kevinmainairungu commented on #50
@mutterback This is both an FYI and a question for @brettins as I continue to do the school visits and check the database data. @brettins would you happen to know why this is happening. Is it because of the firewall prompt? The firewall prompt asks the user to allow the app to access the network.

[2020-12-02 09:33] kevinmainairungu commented on #50
@brettins @mutterback

I would put split them like this:

1. Firewall prompt. - We need to confirm whether the firewall is preventing Registration and also data syncing

2. Time taken for the data to start syncing.  I'll need to confirm whether its the data size that's affecting data sync or it's just time required in general.

@dobbz could you kindly post the screenshots of the usage below? Thank

[2020-12-02 10:15] dobbz commented on #50
Hi the images are too large. Over 10mb.
Let me upload to gdrive and share here

[2020-12-03 04:08] mocyeg commented on #38
@kevinmainairungu - I did get the [hash script `crc.js`](https://github.com/ekitabu-LLC/repository-api/blob/master/container/crc.js) working in the repository

[2020-12-03 04:11] mocyeg commented on #51
Duplicate of https://github.com/ekitabu-LLC/home/issues/9

[2020-12-03 04:11] #51 closed

[2020-12-04 15:13] mutterback opened #52 "Review and Translate new "Preload" tags on Aferdita's app when testing"
We need to

1. Note any changes to @aferditamuriqi new "Preload" tags in app
2. Translate and add these to the Kiswahili language file

[2020-12-07 16:25] mutterback commented on #33
Adding link to the OAuth WIP from Readium/EDRL
https://github.com/edrlab/thorium-reader/pull/1252

[2020-12-07 16:26] mutterback commented on #38
@kevinmainairungu is this ready to close?

[2020-12-07 16:26] mutterback commented on #31
@kevinmainairungu is this ready to close?

[2020-12-07 16:29] mutterback commented on #45
@kevinmainairungu can you confirm you've reviewed this? I think this should be ready to close by the end of your testing this week.

[2020-12-07 16:30] mutterback commented on #35
Closing as we agreed to do UX pass with Sean. Still not scheduled, but we need to do a comprehensive pass.

[2020-12-07 16:30] #35 closed

[2020-12-07 16:33] mutterback commented on #49
@kevinmainairungu please add an actionable To Do or steps to this Issue. I believe you are testing a few cases and the issue should be "Confirm cases when analytics does not sync"

1. Device does not go online when app installed. YES/NO on do we then ever get analytics from this device
2. User does not have admin privileges or clicks "Cancel" after install on initial Windows warning that app needs

[2020-12-07 18:04] brettins commented on #50
1 - Registration - The app should handle a failed initial sync, but let's create an issue with a proper bug report and I'll look into it.
2 - This probably got lost in the shuffle of things, but currently the app is very naive and sends all of its analytics data every time it tries to sync with the remote DB. It isn't massively hard to change, but we decided to shelve that fix until later. If we w

[2020-12-07 19:25] dobbz opened #53 "Get device metrics on first installation"
We need to grab some device metrics on first install and sync with MySQL. This will help us link the learning analytics data to device tracking data. For example using [systeminformation node module](https://www.npmjs.com/package/systeminformation)
Items to collect if available:

1. Device -- Manufacturer, Model, Serial Number, UUID, sku -- `systeminformation.system().then(data => {console.log(dat

[2020-12-07 19:33] dobbz opened #54 "Display QR code with device info from app ui"
As part of the workflow for getting user device information and linking it to device tracking the proposal is to display a QR code that can be easily scanned and uploaded to the database. The Device Info is obtained as explained in issue #53

@mutterback We need to discuss where in the app UI the QR code can be displayed. I suggest in the settings page a new section for device info that has a butt

[2020-12-07 20:05] dobbz commented on #54
Something like this
![App QR wireframe 1](https://user-images.githubusercontent.com/16733688/101399498-9d6e1880-38e0-11eb-92cf-339e988c32f8.png)
![App QR wireframe 2](https://user-images.githubusercontent.com/16733688/101399549-aeb72500-38e0-11eb-83c2-36d39b1cf9e5.png)

[2020-12-07 20:24] brettins commented on #53
This task is already completed - we gather device information and sync it with the MySQL database. Are these items different than what's already implemented? Or is there a regression/bug?

[2020-12-07 20:29] brettins commented on #54
What format do we want the QR code to put the system information in when scanned? How is it being scanned then entered into the database?

Is this is an overall issue for that whole process, or just for creating the QR code according to a format specification with the info?

[2020-12-07 21:25] dobbz commented on #53
Sorry I wasn't clear. We need something that can uniquely identify a device and survive app reinstall like
serial number/device uuid/OS uuid whichever can be gotten reliably. The Idea is when querying device tracking data we can point out the learning analytics data and vice versa.

Device Tracking is a system for tracking the physical location of the device and which school it is assigned. The da

[2020-12-07 21:32] mutterback commented on #53
Let me refine this to ask a specific question for Brett: Are we capturing
the Windows ID or Device Serial number in the code?

If so, Dobbz and Kevin are not seeing it in the data. If the case is it is
in code, but not in the data we're seeing, Brett, could you point to the
column in the MySQL table where this data is going?

We're trying to isolate what's going on here.
- is it in the code Yes/No

[2020-12-08 05:05] brettins commented on #53
So this is what we have in the code right now:

https://github.com/ekitabu-LLC/ekitabu-readium-desktop-working/blob/7dddbb4a29d61b356c56baeebaaf3695f837ef28/src/main/di.ts#L273
[code]

You can see what info this corresponds to here:
https://nodejs.org/api/os.html

The network interface MAC addresses should uniquely identify devices, but we can also look at the Windows UUID. I seem to recall trying

[2020-12-08 05:07] brettins commented on #53
- is it in the code Yes/No
Some of it is, some of it isn't. Yes & No.

- if so, are we looking in the wrong place Yes/No
I don't know where you're looking, sorry

- if we're looking in the right place, is the data synching Yes/No
That I'm not sure about.

[2020-12-08 14:08] mutterback commented on #53
Thanks Brett,

I don't see what "_id" : "deviceInfo", is in the documentation

We need to add the Windows Serial Number and IMEI if available

If _id is not = to the Windows Serial Number, we need to add that to the
analytics.

On Tue, Dec 8, 2020 at 12:07 AM Brett Ludwig <notifications@github.com>
wrote:

[2020-12-08 14:33] mutterback opened #55 "Update Analytics sync to only send data from last successful sync"
Currently, each time a device connects we are sending all analytics.

Update the sync to send only data between last successful sync and current time.

Nb. Mike did this for Android, some useful code may be here if it's helpful: https://github.com/eKitabu/Real-Time-Data

[2020-12-08 20:37] brettins commented on #53
`_id` is just pouchDB document identifier for the `deviceInfo` table.

I'm getting back into this, and remembering why we don't have the Windows Serial Number.

Getting the windows serial number is done with WMIC and requires admin privileges on the Windows account to run, so if we rely on this we would have to assume that users will start the application in admin mode, which I don't think is a go

[2020-12-08 20:40] brettins commented on #53
If the requirement, as Dobbz has requested, is a unique identifier that survives reinstalls, the network MAC address is our best bet.

[2020-12-09 10:13] kevinmainairungu commented on #31
@mutterback I'm pushing this to our develop branch first then we can make the pr.

[2020-12-11 14:53] mutterback commented on #54
Information to be encoded:
1. Windows UUID
2. Hardware Serial Number
3. eKitabu App UUID

@dobbz to follow up on this comment to precisely specify how this data connects to the NPM systeminfo fields

[2020-12-11 14:58] kevinmainairungu opened #57 "App not collecting mp4, mp3 events"
Hi, @brettins we recently realised the app was not collecting data on either audio or video playback. From the database, I'm only able to fetch TTS data. We took some screenshots of this with @dobbz. He'll ass them on this issue.

[2020-12-11 15:11] mutterback opened #58 "Create log file when books are preloaded into Windows app"
Log file should have

- Project ID can be set by user [in config]
- Package Name can be set by user [in config]
- Time Stamp << time when content is copied to device DD-MM-YYYY 24:00
- Windows UUID (See https://www.npmjs.com/package/systeminformation)
- Hardware Serial Number (See https://www.npmjs.com/package/systeminformation)
- MAC address (See https://www.npmjs.com/package/systeminformation)
-

[2020-12-11 15:15] mutterback commented on #58
Add a log of the fact that files copied successfully.

[2020-12-11 15:26] dobbz commented on #53
I've been testing the node module [systeminformation ](https://www.npmjs.com/package/systeminformation) and it grabs the system UUID and also device UUIID and serial number without requiring administrative access for windows and mac. Here's a sample of it's output.
`> si.system().then(data => console.log(data));
Promise { <pending> }

  manufacturer: 'HP',
  model: 'HP Spectre x360 Convertible 13-

[2020-12-11 15:36] dobbz opened #59 "Some devices don't sync to the MySQL instance at all"
Roughly 50% of the devices don't sync to the database at all. One device at Aga Khan never did sync despite me using it to demonstrate to the teachers how to use our app from that device. I opened roughly 10 textbooks but the device did not sync.

I suspect it is a firewall issue that is causing some devices specifically a problem with the way windows assigns network as "Public, Home, Work or Doma

[2020-12-11 17:16] brettins commented on #57
This was marked as delaying to a later time in the eKitabu JIRA. Has something changed that we are doing it now? @mutterback

[2020-12-11 17:43] mutterback commented on #57
Thanks for the reminder. We need to add it in, but I now remember it was
proving to be very difficult. Let me review the JIRA notes and update this
issue.

On Fri, Dec 11, 2020 at 12:17 PM Brett Ludwig <notifications@github.com>
wrote:

[2020-12-11 17:43] brettins commented on #53
Hey Dobbz, yep! Feels good for me to have been wrong on this one, though I'm not sure how I missed the system info when I researched this (and didn't test it when you posted it...jeez).

[code]

I'm not sure why I'm getting FFFFF-FFFF-FFFFFFF on my device ID, though. But this should enable us a whole bunch of new info. Great work @dobbz

[2020-12-11 19:14] mutterback commented on #57
Hi @brettins is this the issue you're looking at? I thought we had one with more notes: https://ekitabu.atlassian.net/browse/DESKTOP-12

also moving to an enhancement from a bug

[2020-12-11 19:17] dobbz commented on #53
Probably the bios does not support storing a device UUID or more likely the manufacturer (MSI) never bothered to include it in the BIOS EEPROM. Probably that's why it's missing the serial and SKU.

[2020-12-11 19:49] brettins commented on #57
I didn't actually check JIRA, I was going from memory, but that looks to be the issue. I think we weren't particularly judicious back then about having conversations on the issue tracker, so the conversation is likely somewhere in hangouts / slack about deciding to move it to later.

Anyways, assuming this will still be difficult, do we still want to push ahead on it?

[2020-12-13 22:01] mutterback commented on #57
I'm taking a pass to document all of the data we're collecting. Let me do that then get back to you.

[2020-12-14 14:57] dobbz opened #60 "Javascript Error on admin interface"
On one device the SQL-Lite database is not created and might be causing null values in the database. This needs further investigation.

![Installation error](https://user-images.githubusercontent.com/16733688/102095157-3e565980-3e34-11eb-88c9-be71261eeb8f.png)

[2020-12-14 15:05] kevinmainairungu commented on #38
@mutterback form today's call and the data we have been getting, it's still in review. We are still not getting the publication hash for some of the events.

- It can just be an app_open event but no publication was read

- It can also be the firewall issue.

@brettins any thought on this data?

[analytics events - eKitabu Desktop.csv.zip](https://github.com/ekitabu-LLC/ekitabu-readium-desktop-wor

[2020-12-14 16:27] brettins commented on #38
At this point I think this is a bug and needs a bug report/issue according to the guidelines John laid out.  A task should not be re-marked as a bug.

There are too many variables - different server versions, different app install versions, etc., so without a proper bug report I won't be able to fix this.

[2020-12-15 11:23] kevinmainairungu commented on #38
@brettins agreed. I'll be working with @dobbz on creating a proper bug report. This also touches on the database sync issue we have been having.

[2020-12-15 14:08] mutterback commented on #50
Closing this issue and replacing with detailed bug reports

[2020-12-15 14:08] #50 closed

[2020-12-15 14:10] kevinmainairungu opened #61 "Publication Hash Not being recorded"
@kevinmainairungu @dobbz to work on this
@mutterback  to review the. bug report

[2020-12-15 14:11] #59 closed

[2020-12-15 14:15] kevinmainairungu opened #62 "No Data Sync on Mysql"
@kevinmainairungu @dobbz to work on this. Drop the screenshots for the bug report
@mutterback  to review the. bug report

[2020-12-15 14:22] kevinmainairungu commented on #45
closing this as we've moved to specific issues.

[2020-12-15 14:22] #45 closed

[2020-12-15 14:28] mutterback commented on #62
Duplicate of #60

[2020-12-15 14:28] #62 closed

[2020-12-15 14:31] mutterback commented on #61
Open book event is being added in the local SQLite database on the device and synching to the cloud MySQL database. All data is recored with the exception of the publication hash.

[2020-12-15 14:32] mutterback commented on #61
This impacts 60+ percent of the open book events we are seeing

[2020-12-15 14:35] mutterback commented on #53
Assigned to @dobbz for review.

[2020-12-15 14:39] mutterback opened #63 "Windows firewall requires admin access to grant permission to synch data"
App requires a firewall exception to give access to the internet in order to synch data.

After install, when you open the app for the 1st time Windows prompts a firewall exception. In order to say "Yes" to grant access, the Windows admin userid and password is required.

If user selects "Cancel" learning analytics data does not synch.

[2020-12-15 14:49] mutterback commented on #63
For DLP devices, admin password seems to be the same for all devices.

When we do use this user id and password, the data will synch

[2020-12-15 14:53] mutterback opened #64 "Confirm that app is signed with a trusted certificate authority"
@kevin please document what authority we are using to sign the Windows store version of the app today

[2020-12-15 14:54] mutterback commented on #64
potential fix for #63

[2020-12-15 14:55] mutterback commented on #64
See also https://github.com/edrlab/thorium-reader/issues/1217

[2020-12-15 15:08] mutterback commented on #64
Very good issue from EDRL on this in previous comment.

It seems as if we want a certificate that has "Immediate reputation with Microsoft SmartScreen" but need to confirm that this removes the need for the firewall exception.
https://www.globalsign.com/en/code-signing-certificate/microsoft-authenticode

[2020-12-15 17:24] dobbz opened #65 "ereader-analytics-api on azure is down"
@brettins There seems to be a problem with the API for production analytics sync. Could this be impacting why we can't seem to see any data from some devices. I was trying to understand why data wasn't syncing and came across this.

![Screenshot ereader-api Error](https://user-images.githubusercontent.com/16733688/102248911-d0cd2a80-3f12-11eb-95c2-a2271e493dee.png)
![Screenshot ereader-api success

[2020-12-15 17:40] brettins commented on #65
@mocyeg is prod up?

[2020-12-15 18:05] dobbz commented on #63
Here is the screenshot of the firewall dialog
<img width="399" alt="firewall permision" src="https://user-images.githubusercontent.com/16733688/102253902-007f3100-3f19-11eb-8d2b-72abcde5d4e2.png">

[2020-12-15 18:37] dobbz commented on #63
On further investigation windows firewall does not affect Sync. Windows firewall prevents other nodes on the network from accessing the eKitabu ereader app but it does not prevent the ereader app from accessing the internet.

The issue is our API server for sending data to MySQL is not working properly #65

From the logs it shows the app does try to send data to the API server.

and from azure thi

[2020-12-15 22:55] mocyeg commented on #65
@brettins @dobbz

the analytics API is working again. it looks like running the migrations automatically on deploy is causing failures. database migrations should be idempotent so I'm not sure why it's not working, but we can run them manually in the meantime

[2020-12-16 00:10] brettins commented on #65
If we were left this long not knowing prod was down we should probably have some sort of uptime monitor going. Shouldn't matter now in the dev phase but later on we should have some phones ringing if shit goes down :P

[2020-12-16 00:11] #65 closed

[2020-12-16 00:13] brettins opened #66 "set up uptime monitoring for ekitabu repository and analytics API"
@mutterback I'm making work here so this needs your approval, so consider this a suggestion that you can confirm and assign to me or Mike.

We missed that ekitabu analytics was down for a number of days, which could be disastrous in a production environment.

[2020-12-16 17:55] mutterback commented on #66
Thanks Brett. We should absolutely do this. Let's discuss on our call in a few min.

[2020-12-16 23:17] brettins opened #67 "track device version"
have the device check it's version, maybe check it against server version and see if it needs to update. Need UX decisions on that experience.

[2020-12-17 18:02] dobbz opened #68 "Add step to rebuild native Node.js modules"
I have tried building (or even just running `npm start`) following the procedures outlined in [README.md](https://github.com/ekitabu-LLC/ekitabu-readium-desktop-working/edit/master/README.md) but it fails on node-gyp building SQLITE3 on Windows and Linux.

A fix for this is running these commands from the project root folder

and

[2020-12-17 21:11] dobbz commented on #53
@brettins I'm seeing an HTTP status code 500 in the logs for this build while it tries to access the prod api server. The dev api server  sends a status code of 401.

[2020-12-17 22:06] brettins commented on #53
Hey @mocyeg what are the logs saying about the 500 errors?

[2020-12-17 23:18] mocyeg commented on #53
@brettins @dobbz

this was the migration thing again. please let me know if you continue to see 500's

[2020-12-18 14:25] mutterback commented on #66
adding @dobbz who was requesting some info on how the database and synch is set up

[2020-12-18 14:28] mutterback commented on #66
Some specs for uptime reporting:
- send to ekitabu_dev@ekitabu.com
- SMS to Dobbz +254 713 103 222 and Kevin +254 715 067 441

[2020-12-18 14:35] dobbz opened #69 "Production Analytics API server reports status code 500"
I'm still getting an HTML status code 500 on the Analytics API server.

[code]

[2020-12-18 15:32] mocyeg commented on #53
@brettins @dobbz

Ok I finally tracked this one down and [it's now fixed](https://github.com/ekitabu-LLC/ereader-analytics-api/commit/2ea9cd11270fa10045ee34381a000826944845e5)

Let me know if you run into another 500

[2020-12-18 15:34] mocyeg commented on #69
Resolved in #53

[2020-12-18 17:04] dobbz commented on #69
I'm no longer seeing the 500 errors

Thanks @mocyeg

[2020-12-18 17:04] #69 closed

[2021-01-04 18:47] brettins opened #70 "Reader should only sync what it needs to. Sync only what hasn't been synced yet"

[2021-01-05 13:12] kevinmainairungu commented on #64
@mutterback we are using the [windows certification Kit](https://developer.microsoft.com/en-us/windows/downloads/app-certification-kit/). Apps to be pushed to the store have to have either MSIX or APPX file extension. In our case we use, .appx.  DLP 2 we won't distribute the app over the store. The extension to be signed will be, .exe not appx. I've attached a screenshot of the package upload dash

[2021-01-06 22:21] dobbz commented on #63
A trigger for this might likely be electron having a feature that is enabled by default but failing to work as intended.
[WebRTC](https://github.com/electron/electron/issues/25082).

WebRTC is used by apps for software on the internet to communicate and access local resources (eg Webcam & Mic from conferencing apps). With this feature it exposes the app's internal IP's to the internet. Windows def

[2021-01-06 22:41] dobbz commented on #64
From some research, machines have to be updated to raise the smartscreen reputation. Windows generally trusts **E**xtended **V**alidation (EV) and will let the app install and run without deploying the smartscreen dialogue.

I'd recommend using [SectigoEV(Formally ComodoEV)](https://go.microsoft.com/fwlink/?linkid=863208). It's cheaper but has the largest number of certificates used. It's good pra

[2021-01-07 18:15] mutterback commented on #64
Thank you Dobbz,

 SectigoEV(Formally ComodoEV)
<https://go.microsoft.com/fwlink/?linkid=863208> also requires a hardware
token. This needs to be mailed out.

Kevin - can you confirm that we need the token? If so, can it be shipped to
me in the US? Let's go ahead and get that done so I can get the token as
soon as possible.

On Wed, Jan 6, 2021 at 5:41 PM Dobbz <notifications@github.com> wrote:

[2021-01-08 10:55] dobbz commented on #64
Hey Matt,

The hardware key is intended to ensure the key can't be copied. I would also recommend that you ask for an [Azure Key Vault](https://docs.microsoft.com/en-us/azure/key-vault/general/basic-concepts) option included so we don't have to ever share the actual private key on any medium. From azure you can assign rights to access to Kevin only for creation of the packages.

You can have it sh

[2021-01-13 18:02] mutterback commented on #64
After confirming with Mike, I ordered a Global Sign Cert. They issue our SSL certificate so we can start centralizing. They need to confirm our company details then will send a USB key.

[2021-01-14 02:24] mutterback commented on #64
We're approved. I should have the USB token on Friday

[2021-01-14 02:27] mutterback commented on #63
Can I confirm this issue should be combined with #64

[2021-01-14 02:34] mutterback commented on #53
Hi @kevinmainairungu can
- confirm that @brettins commit https://github.com/brettins/ekitabu-readium-desktop-working-brettfork/commit/638f02db07a47692fd28f83de58569680d27d912 is being pulled into your current build. We discussed Brett adding in the systeminfo in our call today (13 Jan 2021) However, it looks as if he already did this in that commit

- split off the HTTP status code 500 into a new

[2021-01-14 02:37] mutterback commented on #53
@kevinmainairungu apologies, Mike already closed #69 so please just confirm that https://github.com/brettins/ekitabu-readium-desktop-working-brettfork/commit/638f02db07a47692fd28f83de58569680d27d912 closes this issue and is pulled into your build. Seems as if you should also think this issue to your PR to automatically close it when you merge.

[2021-01-14 03:32] brettins commented on #53
Wow, I am a total space cadet, looks like I did do it. Just I didn't see the new database fields when I connected to the DB today, so we'll need to confirm that the new migrations are run before testing happens.

[2021-01-14 03:37] mocyeg commented on #53
is that a new migration in `ereader-analytics-api` or something different?

[2021-01-14 07:35] kevinmainairungu commented on #53
@mutterback Brett already merged this.

[2021-01-14 17:02] mutterback commented on #53
HI Kevin, I think Mike is asking if the migration kicked in and actually
created the new fields in the database.

My take is that we need to be sure the change is reflected:
1. In the code so the data is grabbed
2. In the local database in the app
3. In the API so that the data is transmitted
4. In the MySQL database on Azure so the data has a home

However, the best way to test is to confirm that

[2021-01-17 15:09] mutterback commented on #64
I received the USB token. let's review the process. I want to be sure if I install it on my machine, we have what we need to do the compiling properly. I suppose we could also install on the Windows VM. I sent emailed the instructions to Kevin.

[2021-01-22 13:24] dobbz commented on #54
Hey @brettins could we have the QR Code have the information encoded as something like this
`[system{
manufacturer: 'HP',
model: 'HP Spectre x360 Convertible 13-ae0xx',
version: '',
serial: '5CD74222VR',
uuid: '37444335-3234-3232-5652-523232344435',
sku: '2VQ39PA#ABG'
}
osInfo{
platform: 'win32',
distro: 'Microsoft Windows 10 Pro Insider Preview',
release: '10.0.20180',
codename: '',
kernel: '10.0

[2021-01-22 13:29] mutterback commented on #54
Hi @brettins this has become a priority for some school testing we're doing. Could you move this to the top of your queue? Appreciate this takes you off shop for a bit. Happy to chat.

[2021-02-03 19:59] kevinmainairungu opened #79 "Pull new changes from thorium Develop BRANCH"
Pull in pdf support from ThOrium

[2021-02-03 20:02] kevinmainairungu commented on #79
@brettins we would like to integrate the new pdf support that's integrated into Thorium.  Kindly let me know when we can pull these changes and also your recommendation on how to go about pulling these changes.

[2021-02-04 11:51] kevinmainairungu opened #80 "Add column publication_name to the view eventstablewithepochconversion"
Add column `publication_name `to the view: `eventstablewithepochconversion` required for analytics dashboard

[2021-02-04 12:00] dobbz opened #81 "Change the collation of MySQL database tables to be the same"
Currently the collation of the tables in MySQL are different across tables generating an error:
[code]

This error is generated when joining tables

[2021-02-04 12:07] dobbz commented on #81
Converted tables `device`, `event`, `title` to utf8mb4_general_ci

[2021-02-04 12:07] #81 closed

[2021-02-04 12:12] dobbz commented on #80
Done

[2021-02-04 12:12] #80 closed

[2021-02-05 07:13] sonatype-depshield[bot] opened #82 "DepShield encountered errors while building your project"
The project could not be analyzed because of build errors. Please review the [error messages here](https://depshield.sonatype.org/error/ekitabu-LLC/ekitabu-readium-desktop-working/y2tNDVTpSy_RCotf5G7JvQ). Another build will be scheduled when a change to a manifest file<sup>*</sup> occurs. If the build is successful this issue will be closed, otherwise the [error message](https://depshield.sonatype

[2021-02-05 13:18] danielweck opened #88 "Electron upgrades"
I have just noticed this PR merge:
https://github.com/ekitabu-LLC/ekitabu-readium-desktop-working/pull/78

Note that both Thorium and `r2-navigator-js` evolve over time to adapt to breaking API changes in major Electron releases. Although we cannot always keep up with the Electron release cycle, we are keen to inherit bug fixes, security patches and performance improvements (not only in NodeJS / m

[2021-02-19 07:45] kevinmainairungu commented on #88
@danielweck this is noted. I was using [https://dependabot.com/](URL) to automatically upgrade my dependencies.

[2021-02-19 07:50] kevinmainairungu commented on #79
@mutterback below are the changes that have been made. Please check the code-signing part.

This release includes the following (notable) new features, improvements and bug fixes:

Thorium is now based on Electron version 11.
The Windows installer is now code-signed (no more scary warning messages)
Localization: updated Japanese and Spanish translations, added Finnish, Russian, Chinese translation

[2021-02-19 09:06] danielweck commented on #88
I personally use NCU (NPM Check Updates) from the command line, but Dependabot and a few other services like David are fine too.

With NCU I am instantly given information about semantic versioning breaking changes (major version updates).

 For example in Thorium we are still using an older version of React + React DOM (and consequently any other React lib) due to potential regression bugs which

[2021-03-23 16:15] brettins opened #96 "Merge recent thorium / readium code into current version of ekitabu desktop"

[2021-04-22 12:18] wclurman opened #98 "eKitabu is misspelled in the top right hand corner of the app: lower case e, capital K, always."
Testing Github issue reporting and resolution process.

[2021-04-22 14:50] wclurman commented on #98
Thank you Kevin.

Just to confirm, are you saying because that's the default it can't be
resolved easily or are you just noting that's the way it happens to work
and nevertheless it will be resolved in "our next release," and by the way
what number is that release?

Warmest regards,
Will

On Thu, 22 Apr 2021, 17:46 kevin maina irungu, ***@***.***>
wrote:

[2021-04-22 14:55] kevinmainairungu commented on #98
@wclurman just noting but will be resolved in the next release.

[2021-04-22 14:55] kevinmainairungu commented on #98
@wclurman just noting but will be resolved in the next release.